<% include ../partials/header %>

<div class="ui main container">
  <div class="ui medium header">
    <a href="/books">All Books</a> > <%= genre.name %> Books
  </div>

  <% if (currentUser && currentUser.isAdmin) { %>
    <form action="/books/genres/<%= genre._id %>?_method=DELETE" method="POST">
      <a href="/books/genres/<%= genre._id %>/edit" class="ui basic blue button">Edit Genre Name</a>
      <button class="ui basic red button delete-btn">Delete Genre</button>
    </form>
    <br>
  <% } %>

  <% if (numPages > 0) { %>
    <div class="ui small pagination menu">
      <div class="item ui dropdown">
        <div class="text">Sort by</div><i class="dropdown icon"></i>
        <div class="menu">
          <a href="/books/genres/<%= genre._id %>?page=<%= currentPage %>&sort=author" class="item">Author</a>
          <a href="/books/genres/<%= genre._id %>?page=<%= currentPage %>&sort=title" class="item">Title</a>
          <a href="/books/genres/<%= genre._id %>?page=<%= currentPage %>&sort=-views" class="item">Most Views</a>
          <a href="/books/genres/<%= genre._id %>?page=<%= currentPage %>&sort=-numFavourites" class="item">Most Favourites</a>
        </div>
      </div>
      <span class="item">Page: </span>
      <% for (var i = 1; i <= numPages; i++) { %>
        <% if (currentPage == i) { %>
          <a href="/books/genres/<%= genre._id %>?page=<%= i %>&sort=<%= sort_by %>" class="active item"><%= i %></a>
        <% } else { %>
          <a href="/books/genres/<%= genre._id %>?page=<%= i %>&sort=<%= sort_by %>" class="item"><%= i %></a>
        <% } %>
      <% } %>
    </div>
    <br>
  <% } %>

  <br>

  <% include ../partials/books/index %>

</div>

<% include ../partials/footer %>
