<% include ../partials/header %>

<div class="ui main container">

  <div class="ui message">
    <div class="ui huge header">
      <h1>Browse Our Books</h1>
    </div>
    <% if (currentUser && currentUser.isAdmin) { %>
      <p>Here is the collection of books in our database. To view (and approve or delete) requests submitted by our users, click the "Requests" button below.</p>
      <div class="ui small buttons">
        <a href="/books/new" class="ui blue button"><i class="plus icon"></i>Book</a>
        <a href="/books/genres/new" class="ui green button"><i class="plus icon"></i>Genre</a>
        <a href="/books/request/all" class="ui teal button">Requests</a>
      </div>
    <% } else { %>
      <p>Here is the collection of books in our database. Want to write a chapter summary for a book that isn't here? Request a new book using the link below.</p>
      <a href="/books/request" class="ui blue button">Request a new book!</a>
    <% } %>
  </div>

  <% if (numPages > 1) { %>
    <div class="ui small pagination menu">
      <div class="item ui dropdown">
        <div class="text">Sort by</div><i class="dropdown icon"></i>
        <div class="menu">
          <a href="/books/page/<%= currentPage %>/sort/author" class="item">Author</a>
          <a href="/books/page/<%= currentPage %>/sort/title" class="item">Title</a>
          <a href="/books/page/<%= currentPage %>/sort/-views" class="item">Most Viewed</a>
        </div>
      </div>
      <div class="item ui dropdown">
        <div class="text">Genres</div><i class="dropdown icon"></i>
        <div class="menu">
          <% genres.forEach(function(genre) { %>
            <a href="/books/genres/<%= genre._id %>/page/1/sort/title" class="item"><%= genre.name %></a>
          <% }); %>
        </div>
      </div>
      <span class="item">Page: </span>
      <% for (var i = 1; i <= numPages; i++) { %>
        <% if (currentPage == i) { %>
          <a href="/books/page/<%= i %>/sort/<%= sort_by %>" class="active item"><%= i %></a>
        <% } else { %>
          <a href="/books/page/<%= i %>/sort/<%= sort_by %>" class="item"><%= i %></a>
        <% } %>
      <% } %>
    </div>

    <br>
  <% } %>

  <br>

  <% include ../partials/books/index %>

  <% if (numPages > 1) { %>
    <div class="ui small pagination menu">
      <div class="item ui dropdown">
        <div class="text">Sort by</div><i class="dropdown icon"></i>
        <div class="menu">
          <a href="/books/page/<%= currentPage %>/sort/author" class="item">Author</a>
          <a href="/books/page/<%= currentPage %>/sort/title" class="item">Title</a>
          <a href="/books/page/<%= currentPage %>/sort/-views" class="item">Most Viewed</a>
        </div>
      </div>
      <div class="item ui dropdown">
        <div class="text">Genres</div><i class="dropdown icon"></i>
        <div class="menu">
          <% genres.forEach(function(genre) { %>
            <a href="/books/genres/<%= genre._id %>/page/1/sort/title" class="item"><%= genre.name %></a>
          <% }); %>
        </div>
      </div>
      <span class="item">Page: </span>
      <% for (var i = 1; i <= numPages; i++) { %>
        <% if (currentPage == i) { %>
          <a href="/books/page/<%= i %>/sort/<%= sort_by %>" class="active item"><%= i %></a>
        <% } else { %>
          <a href="/books/page/<%= i %>/sort/<%= sort_by %>" class="item"><%= i %></a>
        <% } %>
      <% } %>
    </div>

    <br>
  <% } %>

</div>

<% include ../partials/footer %>
