<% include ../partials/header %>

<div class="ui main container">

  <div class="ui message">
    <div class="ui huge header">
      <h1>Available Books</h1>
    </div>
    <p>Here is the collection of the books in our database. Want to write a chapter summary for a book that isn't there? Request a new book using the link below.</p>
    <a href="/books/request" class="ui green button">Request a new book!</a>
  </div>

  <br>

  <div class="ui centered grid">
    <% books.forEach(function(book) { %>
    <div class="thirteen wide mobile eight wide tablet four wide computer column">
      <a href="/books/<%= book._id %>">
        <div class="ui card">
          <div class="image">
            <img src="<%= book.coverImage %>" alt="<%= book.title %>">
          </div>
          <div class="content">
            <div class="header">
              <%= book.title %>
            </div>
            <div class="meta">
              By <%= book.author %>
            </div>
          </div>
        </div>
      </a>
    </div>
    <% }); %>
  </div>

</div>

<% include ../partials/footer %>
