<% include ../partials/header %>

<div class="ui main container">

  <div class="ui message">
    <div class="ui huge header">
      <h1>Available Books</h1>
    </div>
    <p>Here is the collection of books in our database. Want to write a chapter summary for a book that isn't here? Request a new book using the link below.</p>
    <a href="/books/request" class="ui basic green button">Request a new book!</a>
    <a href="/books/request/all" class="ui basic blue button">View pending requests</a>
  </div>

  <br>

  <div class="ui centered grid">
    <% books.forEach(function(book) { %>
    <div class="thirteen wide mobile eight wide tablet four wide computer column">
      <div class="ui card">
        <a href="books/<%= book._id %>" class="image">
          <img src="<%= book.coverImage %>" alt="<%= book.title %>">
        </a>
        <div class="content">
          <a href="books/<%= book._id %>" class="header">
            <%= book.title %>
          </a>
          <div class="meta">
            By <%= book.author %>
          </div>
        </div>
        <div class="extra content">
          <div class="ui buttons">
            <div>
              <a href="/books/<%= book._id %>/edit" class="ui blue basic button">Edit Book</a>
            </div>
            <form class="delete-btn" action="/books/<%= book._id %>?_method=DELETE" method="POST">
              <button class="ui red basic right floated button">Delete Book</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <% }); %>
  </div>

</div>

<% include ../partials/footer %>
