<% include ../partials/header %>

<div class="ui main container">

  <div class="ui message">
    <div class="ui huge header">
      <h1>Browse Our Books</h1>
    </div>
    <% if (currentUser && currentUser.isAdmin) { %>
      <p>Here is the collection of books in our database. To view (and approve or delete) requests submitted by our users, click the "View requests" button below.</p>
      <div class="ui buttons">
        <a href="/books/new" class="ui blue button">Add new book</a>
        <a href="/books/request/all" class="ui teal button">View requests</a>
      </div>
    <% } else { %>
      <p>Here is the collection of books in our database. Want to write a chapter summary for a book that isn't here? Request a new book using the link below.</p>
      <a href="/books/request" class="ui blue button">Request a new book!</a>
    <% } %>
  </div>

  <% if (numPages > 1) { %>
    <label><strong>Page : </strong></label>
    <div class="ui small pagination menu">
      <% for (var i = 1; i <= numPages; i++) { %>
        <% if (currentPage == i) { %>
          <a href="/books/page/<%= i %>" class="active item"><%= i %></a>
        <% } else { %>
          <a href="/books/page/<%= i %>" class="item"><%= i %></a>
        <% } %>
      <% } %>
    </div>

    <br>
  <% } %>

  <br>

  <div class="ui doubling stackable four cards">
    <% books.forEach(function(book) { %>
      <div class="card">
        <div class="content">
          <a href="/books/<%= book._id %>" class="header">
            <%= book.title %>
          </a>
          <div class="meta">
            By <%= book.author %>
          </div>
          <% if (book.description) { %>
            <div class="description">
              <% if (book.description.length > 200) { %>
                <%- book.description.substring(0, 200) %>...
              <% } else { %>
                <%- book.description %>
              <% } %>
            </div>
          <% } %>
        </div>

        <% if (currentUser && currentUser.isAdmin) { %>
          <form class="extra content" action="/books/<%= book._id %>?_method=DELETE" method="POST">
            <div class="ui three buttons">
              <a href="/books/<%= book._id %>/edit" class="ui blue basic button">Edit</a>
              <a href="/books/<%= book._id %>" class="ui basic teal button">View</a>
              <input type="submit" class="ui red basic button delete-btn" value="Delete">
            </div>
          </form>
        <% } else { %>
          <div class="extra content">
            <a class="ui fluid teal button" href="/books/<%= book._id %>">View chapters</a>
          </div>
        <% } %>
      </div>
    <% }); %>
  </div>

  <% if (numPages > 1) { %>
    <br>
    <label><strong>Page : </strong></label>
    <div class="ui small pagination menu">
      <% for (var i = 1; i <= numPages; i++) { %>
        <% if (currentPage == i) { %>
          <a href="/books/page/<%= i %>" class="active item"><%= i %></a>
        <% } else { %>
          <a href="/books/page/<%= i %>" class="item"><%= i %></a>
        <% } %>
      <% } %>
    </div>
  <% } %>

</div>

<% include ../partials/footer %>
