<% include ../partials/header %>

<div class="ui main text container segment">

  <div class="ui huge header">
    <h1>Add a new book</h1>
  </div>

  <% if (request) { %>
    <form class="ui form" action="/books/new/<%= request._id %>" method="POST">
      <div class="field">
        <label for="title">Title:</label>
        <input type="text" name="title" value="<%= request.title %>">
      </div>
      <div class="field">
        <label for="author">Author:</label>
        <input type="text" name="author" value="<%= request.author %>">
      </div>
      <div class="field">
        <label for="genres">Genres:</label>
        <select class="ui fluid search dropdown request" name="genres" multiple>
          <option value="">Add genres for this book</option>
          <% genres.forEach(function(genre) { %>
            <option value="<%= genre._id %>"><%= genre.name %></option>
          <% }); %>
        </select>
      </div>
      <div class="field">
        <label for="description">Description:</label>
        <textarea name="description" class="editor" placeholder="Short description of the book"></textarea>
      </div>
      <button class="ui button">Submit!</button>
    </form>
  <% } else { %>
    <form class="ui form" action="/books/new/" method="POST">
      <div class="field">
        <label for="title">Title:</label>
        <input type="text" name="title" placeholder="Title">
      </div>
      <div class="field">
        <label for="author">Author:</label>
        <input type="text" name="author" placeholder="Author">
      </div>
      <div class="field">
        <label for="genres">Genres:</label>
        <select class="ui fluid search dropdown" name="genres" multiple>
          <option value="">Add genres for this book</option>
          <% genres.forEach(function(genre) { %>
            <option value="<%= genre._id %>"><%= genre.name %></option>
          <% }); %>
        </select>
      </div>
      <div class="field">
        <label for="description">Description:</label>
        <textarea name="description" class="editor" placeholder="Short description of the book"></textarea>
      </div>
      <button class="ui button">Submit!</button>
    </form>
  <% } %>
</div>

<% include ../partials/footer %>

<!-- This script tag is under the footer because it requires jQuery
and the footer has jQuery, so it needs jQuery to load first -->

<script>
var selectedGenres = [];
<% request.genres.forEach(function(genre) { %>
  selectedGenres.push("<%= genre.name %>")
<% }); %>
$('.ui.dropdown.request').dropdown('set selected', selectedGenres);
</script>
