<% include ../partials/header %>

<div class="ui main container">
  <h1><%= book.title %></h1>
  <a href="/books/<%= book._id %>/chapters/new" class="ui green button">Add a new chapter</a>

  <br>
  <br>

  <div class="ui four cards">
    <% book.chapters.forEach(function(chapter) { %>
      <div class="card">
        <div class="content">
          <a class="header" href="#">Chapter <%= chapter.number %> - <%= chapter.title %></a>
          <br>
          <a class="description" href="#"><%= chapter.summary.substring(0, 250) %>...</a>
        </div>
        <div class="extra content">
          <div class="ui buttons">
            <div>
              <a href="/books/<%= book._id %>/chapters/<%= chapter._id %>/edit" class="ui blue basic button">Edit Chapter</a>
            </div>
            <form class="delete-btn" action="/books/<%= book._id %>/chapters/<%= chapter._id %>?_method=DELETE" method="POST">
              <button class="ui red basic right floated button">Delete Chapter</button>
            </form>
          </div>
        </div>
      </div>
    <% }); %>
  </div>

</div>

<% include ../partials/footer %>
