<% include ../partials/header %>

<div class="ui main container">

  <div class="ui segment">
    <div class="ui header">
      <h1><%= book.title %></h1>
      <p>By <%= book.author %></p>
    </div>
    <div class="content">
      <div class="description">
        <%= book.description %>
      </div>
    </div>
    <br>
    <a href="/books/<%= book._id %>/chapters/new" class="ui green button">Add a new chapter</a>
  </div>

  <br>

  <div class="ui four cards">
    <% book.chapters.forEach(function(chapter) { %>
      <% if (currentUser && chapter.author.id.equals(currentUser._id)) { %>
        <div class="card">
          <div class="content">
            <a class="header" href="/books/<%= book._id %>/chapters/<%= chapter._id %>">Chapter <%= chapter.number %> - <%= chapter.title %></a>
            <br>
            <% if (chapter.summary.length < 250) { %>
              <a class="description" href="/books/<%= book._id %>/chapters/<%= chapter._id %>"><%- chapter.summary.substring(0, 250) %></a>
            <% } else { %>
              <a class="description" href="/books/<%= book._id %>/chapters/<%= chapter._id %>"><%- chapter.summary.substring(0, 250) %>...</a>
            <% } %>
          </div>
          <form class="extra content" action="/books/<%= book._id %>/chapters/<%= chapter._id %>?_method=DELETE" method="POST">
              <div class="ui two buttons">
                  <a href="/books/<%= book._id %>/chapters/<%= chapter._id %>/edit" class="ui blue basic button">Edit</a>
                  <input type="submit" class="ui red basic button delete-btn" value="Delete">
              </div>
          </form>
        </div>
      <% } %>
    <% }); %>
  </div>

</div>

<% include ../partials/footer %>
