<% include ../partials/header %>

<div class="ui main container">

  <% include ../partials/books/show %>

  <div class="ui large header">
    <% if (isPublic) { %>
      Public Chapter Summaries
    <% } else { %>
      My Chapter Summaries
    <% } %>
  </div>

  <% if (numPages > 0) { %>
    <div class="ui small pagination menu">
      <div class="item ui dropdown">
        <div class="text">Sort by</div><i class="dropdown icon"></i>
        <div class="menu">
          <% if (isPublic) { %>
            <a href="/books/<%= book._id %>?public=true&page=<%= currentPage %>&sort=number" class="item">Chapter Number</a>
            <a href="/books/<%= book._id %>?public=true&page=<%= currentPage %>&sort=-views" class="item">Most Viewed</a>
            <a href="/books/<%= book._id %>?public=true&page=<%= currentPage %>&sort=author.username" class="item">Author</a>
          <% } else { %>
            <a href="/books/<%= book._id %>?page=<%= currentPage %>&sort=number" class="item">Chapter Number</a>
            <a href="/books/<%= book._id %>?page=<%= currentPage %>&sort=-views" class="item">Most Viewed</a>
          <% } %>
        </div>
      </div>
      <span class="item">Page: </span>
      <% for (var i = 1; i <= numPages; i++) { %>
        <% if (currentPage == i) { %>
          <% if (isPublic) { %>
            <a href="/books/<%= book._id %>?public=true&page=<%= i %>&sort=<%= sort_by %>" class="active item"><%= i %></a>
          <% } else { %>
              <a href="/books/<%= book._id %>?page=<%= i %>&sort=<%= sort_by %>" class="active item"><%= i %></a>
          <% } %>
        <% } else { %>
          <% if (isPublic) { %>
            <a href="/books/<%= book._id %>?public=true&page=<%= i %>&sort=<%= sort_by %>" class="active item"><%= i %></a>
          <% } else { %>
              <a href="/books/<%= book._id %>?page=<%= i %>&sort=<%= sort_by %>" class="active item"><%= i %></a>
          <% } %>
        <% } %>
      <% } %>
    </div>
    <br>
  <% } %>

  <% if (chapters) { %>
    <br>
    <div class="ui four doubling stackable cards">
      <% chapters.forEach(function(chapter) { %>
        <div class="card">
          <div class="content">
            <a class="header" href="/books/<%= book._id %>/chapters/<%= chapter._id %>">Chapter <%= chapter.number %> - <%= chapter.title %></a>
            <% if (isPublic) { %>
              <div class="meta">
                Written By: <%= chapter.author.username %>
              </div>
            <% } %>
            <br>
            <% if (chapter.summary.length < 250) { %>
              <div class="description"><%- chapter.summary.substring(0, 250) %></div>
            <% } else { %>
              <div class="description"><%- chapter.summary.substring(0, 250) %>...</div>
            <% } %>
          </div>
          <% if (currentUser && currentUser.isAdmin) { %>
          <form class="extra content" action="/books/<%= book._id %>/chapters/<%= chapter._id %>?_method=DELETE" method="POST">
            <div class="ui three buttons">
                <a href="/books/<%= book._id %>/chapters/<%= chapter._id %>/edit" class="ui blue basic button">Edit</a>
                <a href="/books/<%= book._id %>/chapters/<%= chapter._id %>" class="ui teal basic button">View</a>
                <input type="submit" class="ui red basic button delete-btn" value="Delete">
            </div>
          </form>
          <% } else { %>
            <div class="extra content">
              <a href="/books/<%= book._id %>/chapters/<%= chapter._id %>" class="ui teal fluid button">View Chapter</a>
            </div>
          <% } %>
        </div>
      <% }); %>
    </div>
  <% } %>

  <% if (numPages < 1) { %>
    <!-- <div class="ui large message grid">
      <div class="row">
        There are currently no public chapter summaries written for <%= book.title %>.
      </div>
      <div class="computer only row">
        <div class="ui two buttons">
          <a href="#" class="ui yellow buy button">Don't have this book yet? Buy it now!</a>
          <a href="/books/<%= book._id %>/chapters/new" class="ui green button">Already have this book? Write the first public chapter summary here.</a>
        </div>
      </div>
      <div class="tablet mobile only row">
        <div class="ui two buttons">
          <a href="#" class="ui yellow buy button">Don't have this book yet? Buy it now!</a>
          <a href="/books/<%= book._id %>/chapters/new" class="ui green button">Write a public chapter summary</a>
        </div>
      </div>
    </div> -->
    <div class="ui large message">
      <% if (isPublic) { %>
        There are currently no public chapter summaries written for <%= book.title %>.
      <% } else { %>
        You currently have no chapter summaries written for <%= book.title %>.
      <% } %>
    </div>
  <% } %>

</div>

<% include ../partials/footer %>
