<% include ../partials/header %>

<div class="ui main container">

  <div class="ui segment">
    <div class="ui header">
      <h1><%= book.title %></h1>
      <p>By <%= book.author %></p>
    </div>
    <div class="content">
      <div class="description">
        <%- book.description %>
      </div>
    </div>
    <br>

    <div class="ui centered grid">
      <div class="tablet computer only row">
        <% if (currentUser && currentUser.isAdmin) { %>
          <form class="extra content" action="/books/<%= book._id %>?_method=DELETE" method="POST">
            <a href="/books/<%= book._id %>/chapters/new" class="ui green button">Add a new chapter summary</a>
            <a href="/books/<%= book._id %>/edit" class="ui blue button">Edit Book</a>
            <input type="submit" class="ui red button delete-btn" value="Delete Book">
          </form>
        <% } else { %>
          <a href="/books/<%= book._id %>/chapters/new" class="ui green button">Add a new chapter summary</a>
        <% } %>
      </div>
      <div class="mobile only row">
        <% if (currentUser && currentUser.isAdmin) { %>
          <form class="extra content" action="/books/<%= book._id %>?_method=DELETE" method="POST">
            <div class="ui buttons">
              <a href="/books/<%= book._id %>/chapters/new" class="ui green button">Add</a>
              <a href="/books/<%= book._id %>/edit" class="ui blue button">Edit</a>
              <input type="submit" class="ui red button delete-btn" value="Delete">
            </div>
          </form>
        <% } else { %>
          <a href="/books/<%= book._id %>/chapters/new" class="ui green button">Add a new chapter</a>
        <% } %>
      </div>
    </div>

  </div>

  <br>

  <div class="ui four doubling stackable cards">
    <% book.chapters.forEach(function(chapter) { %>
      <% if (chapter.isPublic || (currentUser && chapter.author.id.equals(currentUser._id))) { %>
        <div class="card">
          <div class="content">
            <a class="header" href="/books/<%= book._id %>/chapters/<%= chapter._id %>">Chapter <%= chapter.number %> - <%= chapter.title %></a>
            <div class="meta">
              By <%= chapter.author.username %>
            </div>
            <br>
            <% if (chapter.summary.length < 250) { %>
              <div class="description"><%- chapter.summary.substring(0, 250) %></div>
            <% } else { %>
              <div class="description"><%- chapter.summary.substring(0, 250) %>...</div>
            <% } %>
          </div>
          <form class="extra content" action="/books/<%= book._id %>/chapters/<%= chapter._id %>?_method=DELETE" method="POST">
            <div class="ui three buttons">
                <a href="/books/<%= book._id %>/chapters/<%= chapter._id %>/edit" class="ui blue basic button">Edit</a>
                <a href="/books/<%= book._id %>/chapters/<%= chapter._id %>" class="ui teal basic button">View</a>
                <input type="submit" class="ui red basic button delete-btn" value="Delete">
            </div>
          </form>
        </div>
      <% } %>
    <% }); %>
  </div>

</div>

<% include ../partials/footer %>
