<% include ../partials/header %>

<div class="ui main container">

  <% include ../partials/books/show %>

  <div class="ui large header">
    Public Chapter Summaries
  </div>

  <br>

  <div class="ui four doubling stackable cards">
    <% var displayedChapters = 0; %>
    <% book.chapters.forEach(function(chapter) { %>
      <% if (chapter.isPublic) { %>
        <% displayedChapters++; %>
        <div class="card">
          <div class="content">
            <a class="header" href="/books/<%= book._id %>/chapters/<%= chapter._id %>">Chapter <%= chapter.number %> - <%= chapter.title %></a>
            <div class="meta">
              Written By: <%= chapter.author.username %>
            </div>
            <br>
            <% if (chapter.summary.length < 250) { %>
              <div class="description"><%- chapter.summary.substring(0, 250) %></div>
            <% } else { %>
              <div class="description"><%- chapter.summary.substring(0, 250) %>...</div>
            <% } %>
          </div>
          <form class="extra content" action="/books/<%= book._id %>/chapters/<%= chapter._id %>?_method=DELETE" method="POST">
            <div class="ui three buttons">
                <a href="/books/<%= book._id %>/chapters/<%= chapter._id %>/edit" class="ui blue basic button">Edit</a>
                <a href="/books/<%= book._id %>/chapters/<%= chapter._id %>" class="ui teal basic button">View</a>
                <input type="submit" class="ui red basic button delete-btn" value="Delete">
            </div>
          </form>
        </div>
      <% } %>
    <% }); %>
  </div>

  <% if (displayedChapters === 0) { %>
    <div class="ui large message grid">
      <div class="row">
        There are currently no public chapter summaries written for <%= book.title %>.
      </div>
      <div class="computer only row">
        <div class="ui two buttons">
          <a href="#" class="ui yellow buy button">Don't have this book yet? Buy it now!</a>
          <a href="/books/<%= book._id %>/chapters/new" class="ui green button">Already have this book? Write the first public chapter summary here.</a>
        </div>
      </div>
      <div class="tablet mobile only row">
        <div class="ui two buttons">
          <a href="#" class="ui yellow buy button">Don't have this book yet? Buy it now!</a>
          <a href="/books/<%= book._id %>/chapters/new" class="ui green button">Write a public chapter summary</a>
        </div>
      </div>
    </div>
  <% } %>

</div>

<% include ../partials/footer %>
