<% include ../partials/header %>

<div class="ui main container">

  <div class="ui huge header">
    <h1>Edit Chapter <%= chapter.number %> - <%= chapter.title %></h1>
  </div>

  <form class="ui form" action="/books/<%= book_id %>/chapters/<%= chapter._id %>?_method=PUT" method="POST">
    <div class="ui fields">
      <div class="two wide field">
        <label for="number">Chapter Number:</label>
        <input type="number" name="chapter[number]" min="1" step="1" value="<%= chapter.number %>">
      </div>
      <div class="fourteen wide field">
        <label for="title">Title:</label>
        <input type="text" name="chapter[title]" value="<%= chapter.title %>">
      </div>
    </div>

    <div class="field">
      <label for="summary">Your Summary:</label>
      <textarea name="chapter[summary]" class="editor"><%- chapter.summary %></textarea>
    </div>

    <div class="field">
      <div class="ui toggle checkbox">
        <input type="checkbox" name="isPublic" value="true" tabindex="0" class="hidden">
        <label for="isPublic">Allow other people to see this chapter summary</label>
      </div>
    </div>
    
    <button class="ui button">Submit!</button>
  </form>

</div>


<% include ../partials/footer %>
