<div class="ui segment">
  <div class="ui header">
    <h1><%= book.title %></h1>
    <p>By <%= book.author %></p>
  </div>
  <div class="content">
    <div class="description">
      <%- book.description %>
    </div>
  </div>
  <br>

  <div class="ui centered grid">
    <div class="tablet computer only row">
      <% if (currentUser && currentUser.isAdmin) { %>
        <form class="extra content" action="/books/<%= book._id %>?_method=DELETE" method="POST">
          <a href="/books/<%= book._id %>/edit" class="ui blue button">Edit</a>
          <a href="#" class="ui yellow buy button">Buy this book!</a>
          <a href="/books/<%= book._id %>/chapters/new" class="ui green button">New chapter</a>
          <a href="/books/<%= book._id %>" class="ui teal button">My chapters</a>
          <a href="/books/<%= book._id %>/public/page/1/sort/number" class="ui orange button">Public chapters</a>
          <input type="submit" class="ui red button delete-btn" value="Delete">
        </form>
      <% } else { %>
        <a href="#" class="ui yellow buy button">Buy this book!</a>
        <a href="/books/<%= book._id %>/chapters/new" class="ui green button">New chapter</a>
        <a href="/books/<%= book._id %>" class="ui teal button">My chapters</a>
        <a href="/books/<%= book._id %>/public/page/1/sort/number" class="ui orange button">Public chapters</a>
      <% } %>
    </div>
    <div class="mobile only row">
      <% if (currentUser && currentUser.isAdmin) { %>
        <form class="extra content" action="/books/<%= book._id %>?_method=DELETE" method="POST">
          <div class="ui buttons">
            <a href="#" class="ui yellow buy button">Buy</a>
            <a href="/books/<%= book._id %>/chapters/new" class="ui green button">Add</a>
            <a href="/books/<%= book._id %>/edit" class="ui blue button">Edit</a>
            <input type="submit" class="ui red button delete-btn" value="Delete">
          </div>
        </form>
      <% } else { %>
        <div class="ui buttons">
          <a href="#" class="ui yellow buy button">Buy this book</a>
          <a href="/books/<%= book._id %>/chapters/new" class="ui green button">New chapter</a>
        </div>
      <% } %>
    </div>
    <div class="mobile only row">
      <% if (currentUser && currentUser.isAdmin) { %>
        <div class="ui buttons">
          <a href="/books/<%= book._id %>" class="ui teal button">My chapters</a>
          <a href="/books/<%= book._id %>/public/page/1/sort/number" class="ui orange button">Public chapters</a>
        </div>
      <% } else { %>
        <div class="ui buttons">
          <a href="/books/<%= book._id %>" class="ui teal button">My chapters</a>
          <a href="/books/<%= book._id %>/public/page/1/sort/number" class="ui orange button">Public chapters</a>
        </div>
      <% } %>
    </div>
  </div>
</div>
